@import 'variables'
.features
    @include section($paddingsizeF , $mainColorBG) 

    .container 
        @include grids(30px)
    .feat
        padding: 20px
        text-align: center 

        i 
            color: $mainColor 
        h3
            font-weight: 800 
            margin: 30px 0 
        p
            line-height: $lineHeight 
            font-size: 17px
            color: #$pargraphColor 


        