html(lang="en")
    head 
        meta(charset="UTF-8")
        title index page 
        include layout/links
    body 
        include layout/header

        .landing 
            .intro-text 
                h1 hello there 
                p We are leon - Super Creative and Minimal Agency Web Template
        
        .features 
            .container 
                .feat 
                    i.fas.fa-gem.fa-3x 
                    h3 We Will Do All The Work
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, officia consequuntur. Eaque, consectetur? Inventore, quam aspernatur perspiciatis repellendus maiores soluta obcaecati impedit! Ut officiis vitae optio sapiente, necessitatibus molestiae quas.

                .feat 
                    i.fas.fa-globe-asia.fa-3x 
                    h3 Your Product is Worldwide
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, officia consequuntur. Eaque, consectetur? Inventore, quam aspernatur perspiciatis repellendus maiores soluta obcaecati impedit! Ut officiis vitae optio sapiente, necessitatibus molestiae quas.

                .feat 
                    i.fas.fa-magic.fa-3x 
                    h3 Tell Us Your IDea 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, officia consequuntur. Eaque, consectetur? Inventore, quam aspernatur perspiciatis repellendus maiores soluta obcaecati impedit! Ut officiis vitae optio sapiente, necessitatibus molestiae quas.

        .services 
            .container 
                h2.special-heading  services
                p   Don't be busy , be producive
                .services-items 
                    .col
                       
                        //- start item
                        .item  
                            i.fas.fa-palette.fa-2x 
                            .text 
                                h3 Title item 1
                                p    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quasi labore temporibus architecto nesciunt similique ipsa inventore. Beatae impedit officiis exercitationem magni ratione incidunt nemo? Ducimus perferendis nemo quaerat sunt!

                        //- end item
                        //- start item
                        .item  
                            i.fas.fa-sketch.fa-2x 
                            .text 
                                h3 Title item 2
                                p    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quasi labore temporibus architecto nesciunt similique ipsa inventore. Beatae impedit officiis exercitationem magni ratione incidunt nemo? Ducimus perferendis nemo quaerat sunt!

                        //- end item

                    .col
                       
                        //- start item
                        .item  
                            i.fas.fa-vector-square.fa-2x 
                            .text 
                                h3 Title item 3
                                p    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quasi labore temporibus architecto nesciunt similique ipsa inventore. Beatae impedit officiis exercitationem magni ratione incidunt nemo? Ducimus perferendis nemo quaerat sunt!

                        //- end item
                        //- start item
                        .item  
                            i.fas.fa-pencil-ruler.fa-2x 
                            .text 
                                h3 Title item 4
                                p    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quasi labore temporibus architecto nesciunt similique ipsa inventore. Beatae impedit officiis exercitationem magni ratione incidunt nemo? Ducimus perferendis nemo quaerat sunt!

                        //- end item
                    .col 
                        .img-item
                            img(src="../img/empty.jpg", alt="")



        include layout/linksjsfile
