html(lang="en")
    head 
        meta(charset="UTF-8")
        title index page 
        include layout/links
    body 
        include layout/header

        .landing 
            .intro-text 
                h1 hello there 
                p We are leon - Super Creative and Minimal Agency Web Template
        
        .features 
            .container 
                .feat 
                    i.fas.fa-gem.fa-3x 
                    h3 We Will Do All The Work
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, officia consequuntur. Eaque, consectetur? Inventore, quam aspernatur perspiciatis repellendus maiores soluta obcaecati impedit! Ut officiis vitae optio sapiente, necessitatibus molestiae quas.

                .feat 
                    i.fas.fa-globe-asia.fa-3x 
                    h3 Your Product is Worldwide
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, officia consequuntur. Eaque, consectetur? Inventore, quam aspernatur perspiciatis repellendus maiores soluta obcaecati impedit! Ut officiis vitae optio sapiente, necessitatibus molestiae quas.

                .feat 
                    i.fas.fa-magic.fa-3x 
                    h3 Tell Us Your IDea 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, officia consequuntur. Eaque, consectetur? Inventore, quam aspernatur perspiciatis repellendus maiores soluta obcaecati impedit! Ut officiis vitae optio sapiente, necessitatibus molestiae quas.

        include layout/linksjsfile
