.about 
            .container 
                h2.special-heading  About
                p   less is more work
                .about-items 
                    .img 
                        img(src="../img/empty.jpg", alt="")
                    
                    .text 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sit amet porro iusto ipsa voluptates, saepe eum quos dolorum labore officia dolores quibusdam ad ab, perspiciatis quod voluptas sed impedit?
                        hr
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio obcaecati magnam repellendus voluptatibus a ipsam ab quisquam pariatur laudantium, omnis exercitationem iure, adipisci rem minima provident? Veniam autem officiis nostrum.
                        
