.contact 
    .container 
            h2.special-heading  contact
            p   We are born to create 
            .info 
                p.lable Feel free to drop us a line at :
                a.link(href="mailto:mekadalibrahem123@gmail.com?subject") mekadalibrahem123@gmail.com 
                .social
                    i.fab.fa-facebook-f 
                    i.fab.fa-linkedin 
                    


