header 
    div.container
        img.logo(src="img/logo.png")
        div.links
            span.icon
               span 
               span 
               span  
            ul.list-links
                li 
                    a(href="#services") Services 
                li 
                    a(href="#protofolio") Protofolio 
                li 
                    a(href="#about") About 
                li 
                    a(href="#contact") Contact 

        